<ng-content></ng-content>

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Oscar History</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p><mat-icon>Oscar</mat-icon></p>
            <p>The Academy Awards, commonly known as the Oscars, is an annual ceremony that recognizes excellence in the film industry.<br>The first Oscars were awarded in 1929, and since then, the awards have become one of the most prestigious honors in the entertainment industry.</p>
        </mat-card-content>
    </mat-card>
</div>
