<ng-content></ng-content>

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Welcome to the Oscar Page</mat-card-title>
        </mat-card-header>

        <mat-card-content>
			<div class="image-text-wrapper">
				<img src="./assets/oscar_red_carpet.jpg" alt="The Oscar red carpit">
				<p>Welcome to our website! Here, you can log in on the 'Login' page or register on the 'Register' page to access our exclusive content.
					<br> Which is a page where you can see our past winners and leave comments. This page is called the 'Winners' page.
					<br> And finally, we have a page where you can learn about the history of the Oscar, called the 'History' page.
					<br> We hope you enjoy your time here and consider joining our community of movie lovers and supporters.</p>
			</div>
        </mat-card-content>
    </mat-card>
</div>